:root {
	--text: #222;
	transition: all 0.2s;
	background: url("../img/BITZ.png");
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
	color: var(--text);
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
button {
	font-size: 1.5em;
}
